@import url(https://fonts.googleapis.com/css?family=Roboto:regular);

* {
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;

}

a {
    color: inherit;
    text-decoration: none;
}

ul li {
    list-style: none;
}

H {
    font-weight: inherit;
    font-size: inherit;
}

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Times New Roman", sans-serif;
    --third-family: "Segoe UI", sans-serif;
    min-height: 100%;


    display: flex;
    flex-direction: column;
}

.header {
    width: 1280px;
    margin: 0;
    padding: 0;

}

.box_1 {
    height: 90px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(55, 79, 76, 1);
}
img {
    width: 900px;
    height: 40px;
    border-color: black;

}
.box_2 {
    font-weight: 400;
    height: 81px;
    background-color: #fdf7f0;
    display: flex;
    align-items: center;
}

.nav {
    width: 100%;
    justify-content: space-between;
    display: flex;
    
}
.logo {
    margin-left: 150px;
    font-family: var(--second-family);
}
span {  
    font-size: 40px;
}


#logo {
    width: 7px;
    height: 40px;
    line-height: 400%;
    letter-spacing: 0.16em;
    color: #3e3e42;

}

.link-list {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 107%;
    letter-spacing: 0.02em;
    margin-right: 195px;
    color: #3e3e42;
}

.page {
    flex: 1 1 auto;
}

.page_top {
    width: 1280px;
    height: 753px;
    background-color: #fdf7f0;
    display: flex;
    flex-direction: row;
    
}
.top_left {
    font-family: var(--second-family);
    font-weight: 400;
    margin-left: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page_text {   
    width: 350px;
    
}

.title {
    font-size: 46px;
    line-height: 109%;
    letter-spacing: 0.02em;
    color: #374f4c;
}

.content {
    font-size: 16px;
    line-height: 156%;
    letter-spacing: 0.02em;
    color: #3e3e42;
}

.content_item {
    font-size: 11px;
    line-height: 227%;
    letter-spacing: 0.03em;
    color: #3e3e42;
}
.buttons{
    width: 350px;
    
}
.icons {
    max-width: 380px;
    background-position: 300px 200px;
    
}
.icon {
    max-width: 124px;
}
.top_center {
    display: flex;
    max-width: 350px;
    flex-direction: column;
}
.center_top {
    width: 240px;
    height: 221px;
}
.center_two {
    max-width: 350px;
}
.center_fon{
    width: 347px;
    height: 364px;
}
.center_into {
    z-index: 50;
    width: 194px;
    height: 152px;
}
.top_right {
    
    z-index: 100;
}
.page_phone {
    border: 1px solid #000;
    margin-top: -55px;
    margin-right: 60px;
    padding: 10px;
    width: 389px;
    height: 684px;
    justify-content: center;
    align-items: center;
    display: flex;
}
#phone{   
    width: 289px;
    height: 584px;
}